/*====== 変更箇所 ======*/
/* バンド紹介ページの更新でCSS書き換え必要 「#更新」でページ内検索 */

@charset "utf-8";
/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999999;
    /*ナビのスタート位置と形状*/
top:-120%;
    left:0;
width:100%;
    height: 100vh;/*ナビの高さ*/
background:rgb(0, 13, 43);
    /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 99999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*==================================================
　左右に線が伸びる（下部）
===================================*/
.gnavi li a{
    /*線の基点とするためrelativeを指定*/
position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
color:rgb(0,30,96);
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    top: 75%;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:rgb(233, 228, 197);
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*左上基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(0.45, 1);/*X方向にスケール拡大*/
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
    text-align: center; 
}

#g-nav li a{
color: rgb(233, 228, 197);
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
font-size: 1.2rem;
}

#g-nav li h1{
color:rgb(233, 228, 197);
margin: 0 0 30px 0;
font-size:1.6rem;
}


/*========= ボタンのためのCSS ===============*/
.openbtn1{
position:fixed;
    z-index: 9999999;/*ボタンを最前面に*/
top:7px;
right: 10px;
cursor: pointer;
    width: 50px;
    height:50px;
}

/*×に変化*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
background-color: rgb(233, 228, 197);
  width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
top:15px;
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
    position:relative;
z-index: 1;
/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/

.slider-item01 {
    background:url(../img/MAJOslide1.jpg);
}

.slider-item02 {
    background:url(../img/MAJOslide2.jpg);
}

.slider-item03 {
    background:url(../img/MAJOslide3.JPG);
}

.slider-item04 {
    background:url(../img/MAJOslide4.jpg);
}

.slider-item05 {
    background:url(../img/MAJOslide5.jpg);
}

.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
z-index: 3;
    top: 48%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
position: relative;
z-index: 3;
    text-align:center;
margin:-30px 0 0 0;
}

.slick-dots li {
    display:inline-block;
margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*========= レイアウトのためのCSS ===============*/
/*========= 共通 ==============================*/
body {
    font-family: "Georgia";
}

img{
    max-width: 100%;
    height: auto;
}

ul{
margin:0;
padding: 0;
list-style: none;
}

#header{
    position:fixed;
    width:100%;
    background:rgb(0,30,96);
    color:rgb(233, 228, 197);
    text-align: center;
    padding: 30px;
    z-index: 999999;
    }

    #header a{
    text-decoration: none;
    text-align: center;
    }

    #header h1{
        font-size: 1.4rem;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);        
        color: rgb(233, 228, 197);
        opacity: 1;
    }
    #header h2{
        font-size: 1.4rem;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: rgb(233, 228, 197);
        opacity: 0;
    }

.logo{
    width: 300;
    height: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0;
    z-index: 9;
    opacity: 0.5;
}

section{
    padding:100px 150px;
    }

    section:nth-child(2n){
    background:rgb(220, 228, 250);
    }

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    position: relative;
    margin-top: auto;
    background:#333;
    padding:20px 0;
}

small{
    color:#fff;
    display: block;
    text-align: center;
}

/*========= index ========================*/
.wrapper{
position: relative;
}

.wrapper_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0;
    z-index: 999;
    opacity: 1;
}

.wrapper table{
    font-size: 1.2rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    color: rgb(233, 228, 197);
}
 
.wrapper table tr td h1{
    color: rgb(233, 228, 197);
    font-size: 2rem;
    text-align: center;
}

.index h1{
    font-size:2rem;
    text-align: center;
    color: rgb(0,30,96);
}

.index h2{
    font-size:1.5rem;
    text-align: center;
    margin: 0 0 20px 0;
    color: rgb(0,30,96);
}

.index h3{
    font-size:1.2rem;
    text-align: center;
}
   
.index p{
    font-size: 1rem;
    text-align: center;
    margin-top:20px;
}

.follow{
    margin: auto;
    text-align: center;
}

.follow li{
    display: inline;
    list-style-type: none;
    padding: 0 8em 0 8em;
    text-align: center;
}

.follow img{
    width: auto;
    height: 40px;
    margin-top:20px;
}

.access{
    margin: auto;
    text-align: center;
}

/*========= about ========================*/
.about h1{
    font-size:2rem;
    text-align: center;
    margin: 50px 0 50px 0;
    color: rgb(0,30,96);
}
    
.about h2{
    font-size:1.5rem;
    margin: 20px 0 20px 0;
    color: rgb(0,30,96);
}

.about h3{
    font-size:1.15rem
}

.about strong{
    font-size: 2rem;
}

.about img{
    width: 300;
    height: 300;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0;
    z-index: 9;
    opacity: 0.1;
}

/*========== schedule ===============*/
.schedule h1{
    font-size:2rem;
    text-align: center;
    margin: 150px 0 50px 0;
    color: rgb(0,30,96);
}

.schedule h2{
    margin: auto;
    font-size:1.5rem;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 10px;
    width: 50%;
    color: rgb(0,30,96);
}

.schedule small{
    color:#111;
    font-size: 1rem;
}

.schedule table{
    margin: auto;
    text-align: center;
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.bottom {
    border-bottom: solid 3px #778ca3;
}

.schedule table tr td {
    padding: 10px;
    border-bottom: solid 3px #778ca3;
    font-size: 2rem;
}

.schedule table tr th{
    font-size: 1rem;
}

.sp{
    text-align: center;
    width: 10%;
}


.schedule img{
    width: 300;
    height: 300;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0;
    z-index: 9;
    opacity: 0.1;
}

/*=========== bands ================*/
.bands h1{
    position: relative;
    font-size:2rem;
    margin: 100px 0 0 0;
    padding-left: 20%;
    color: rgb(0,30,96);
    z-index: 99;
}

.bands h2{
    margin: -80px 0 0 0;
    padding: 0 0 20px 0;
}

.ms-section{
    padding: 50px;
}

/* バンド名の色 #更新 */
#left1 h2{
    color: rgb(114, 0, 0);
}

#left2 h2{
    color: rgb(228, 97, 69);
}

#left3 h2{
    color: rgb(208, 171, 116);
}

#left4 h2{
    color: rgb(0, 127, 231);
}

#left5 h2{
    color: rgb(0, 148, 12);
}

#left6 h2{
    color: rgb(211, 102, 1);
}

#left7 h2{
    color: rgb(0, 9, 114);
}

/*バンド写真 #更新 */
#right1{
    background:url("../img/quattro.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

#right2{
    background:url("../img/quattro_plus.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

#right3{
    background:url("../img/stella.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

#right4{
    background:url("../img/the_duo.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

#right5{
    background:url("../img/this_is_trio.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

#right6{
    background:url("../img/Estrella.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

#right7{
    background:url("../img/tetuya.jpg") no-repeat center;
    background-size: contain;
    margin: -50px 0 0 0;
    background-color: #222;
}

/*右にある丸ナビゲーション色*/

#multiscroll-nav span{
	background:transparent!important;
	border-color:#fff!important;
}

/*右にある丸のナビゲーション現在地色*/

#multiscroll-nav li .active span{
	background:#fff!important;
}

/*=========== contact ===============*/
.contact h1{
    font-size:2rem;
    text-align: center;
    margin: 50px 0 50px 0;
    color: rgb(0,30,96);
}

.contact p{
    font-size: 1rem;
    background-color: rgb(233, 228, 197);
}

/*=================================== パソコン向けCSS ===========================================*/
@media (max-height: 570px){
    .wrapper table{
        opacity: 0;
    }

    .wrapper_logo{
        top: 52%;
        opacity: 1;
    }
}


@media (max-width: 1350px){
    .follow li{
        display: inline;
        list-style-type: none;
        padding: 0 2em 0 2em;
        text-align: center;
    }

    /*============ schedule =====================*/
    .schedule table{
        width: 70%;
    }
    .schedule h2{
        width: 70%;
    }
}

@media (max-width: 1080px){
    .schedule small{
        font-size: 0.75rem;
    }
}

@media (max-width: 1010px){
    .schedule table{
        white-space: nowrap;
        margin: 0;
        width: 100%;
    }  
    .schedule h2{
        margin: 0;
        margin-top: 50px;
        margin-bottom: 10px;
    }
}

/*============================================ スマートフォン向けCSS ================================*/
/*============ shedule 780px================*/
@media (max-width: 800px){
    .schedule table tr td{
        font-size: 1.2rem;
    }
    .schedule small{
        font-size: 0.7rem;
    }
}

@media (max-width: 767px){

    #header h1{
        opacity: 0;
    }
    #header h2{
        opacity: 1;
    }
    .logo{
        width: 300px;
        height: 300px;
    }

    .gnavi li.current a::after,
    .gnavi li a:hover::after {
        transform: scale(0.7, 1);/*X方向にスケール拡大*/
    }
    #g-nav li h1{
        margin: 0 0 20px 0;
        font-size:1.5rem;
    }

/*============ index ===================*/

    .wrapper table{
        opacity: 0;
    }
    section{
        padding: 10px 30px;
    }
    
    section:nth-child(2n){
        background:rgb(220, 228, 250);
    }
    .wrapper_logo{
        width: 350px;
        height: 350px;
    }

    .wrapper_logo{
        opacity: 1;
    }

    .index h1{
        font-size:1.7rem;
    }
        
    .index h2{
        font-size:1.2rem;
    }
        
    .index h3{
        font-size:1rem;
    }
    
    .follow img{
        width: auto;
        height: 22px;
    }
    .follow li{
        padding: 0 20px 0 30px;
    }
/*========= about ===========*/
    .about h1{
        font-size:1.7rem;
        margin: 90px 0 50px 0;
    }
    
    .about h2{
        font-size:1.2rem;
    }
    .about h3{
        font-size:1rem;
    }
    .about strong{
        font-size: 1.5rem;
    }
    .about img{
        width: 300px;
        height: 300px;
    }
/*========= schedule ===========*/
    .schedule h1{
        font-size:1.7rem;
        margin: 90px 0 50px 0;
    }
    .schedule h2{
        font-size:1.2rem;
        margin: 50px 0 5px 0;
    }
    .schedule table tr td{
        font-size: 1rem;
        padding: 3px;
    }
    .schedule table tr th{
        font-size: 0.7rem;
    }

    .schedule img{
        width: 300px;
        height: 300px;
    }

/*========= bands ==============*/
    .bands h1{
        font-size:1.7rem;
        margin: 70px 0;
        text-align: center;
        padding-left: 0%;
    }
    
    .bands h2{
        margin: 30px 0 0 0;
        padding: 0 0 15px 10%;
    }
    
    .ms-section{
        padding: 0px;
    }

    .bands p{
        font-size: 0.8rem;
        padding: 0 50px 0 10%;
    }
    .bands-footer{
        padding:10px 0;
    }

    /*ライブラリで天地中央になっている見せ方を上揃えに上書き*/
    .ms-tableCell{
	    vertical-align:top;
    }
    /*左エリア非表示*/
    #bands-ul,
    .ms-right{
	    display: none;
    }

    .bands-ul a{
        display: none;
    }

    /*左エリアを横幅100%にして画像＋テキストを出す設定*/
    .ms-left{
    	width:100%!important;
    }
    /*左エリア上部画像設定*/
    .sp-top{
    	height:250px;
    	margin: 125px 0 20px 50%;
        padding: 150px;
        transform: translate(-50%,0%);
        width: 450px;
    }
	
    /* バンド写真 #更新 */
    #left1 .sp-top{
    	background:url("../img/quattro.jpg") no-repeat center;
    	background-size:cover;
    }

    #left2 .sp-top{
    	background:url("../img/quattro_plus.jpg") no-repeat center;
    	background-size:cover;
    }

    #left3 .sp-top{
    	background:url("../img/stella.jpg") no-repeat center;
    	background-size:cover;
    }

    #left4 .sp-top{
    	background:url("../img/the_duo.jpg") no-repeat center;
    	background-size:cover;
    }

    #left5 .sp-top{
    	background:url("../img/this_is_trio.jpg") no-repeat center;
    	background-size:cover;
    }

    #left6 .sp-top{
    	background:url("../img/Estrella.jpg") no-repeat center;
    	background-size:cover;
    }

    #left7 .sp-top{
    	background:url("../img/tetuya.jpg") no-repeat center;
    	background-size:cover;
    }

    /*右にある丸ナビゲーション色*/
    #multiscroll-nav span{
        border-color:#333!important;
        margin: 175px 0 0 15px;
    }
    
    /*右にある丸のナビゲーション現在地色*/
    
    #multiscroll-nav li .active span{
        background:#888!important;
    }

/*========= contact ============*/
    .contact h1{
        font-size:1.7rem;
        margin: 90px 0 50px 0;
    }
    .contact p{
        font-size: 0.5rem;
    }
}
@media (max-width: 670px){
    .schedule small{
        font-size: 0.5rem;
    }
}
/*================ bands 450px ==============*/
@media (max-width: 450px) {
    .sp-top{
        margin:125px 0 20px 0;
        transform: translate(0%,0%);
        width: auto;
    }

    .bands h2{
        margin: 60px 0 0 0px;
        padding: 0 0 15px 10px;
    }
    .bands p{
        padding: 0 50px 0 10px;
    }
}

@media (max-width: 400px) {
    .sp-top{
        height: 230px;
        padding: 0;
    }

    .bands h2{
        padding: 0 0 15px 10px;
    }
}

@media (max-width: 370px){
    .follow li{
        padding: 0 5px 0 30px;
    }
}
@media (max-width: 350px){
    .sp-top{
        height: 170px;
    	padding: 0;
    }
    .follow li{
        padding: 0 0 0 30px;
    }
    .bands h2{
        margin: 30px 0 0 0;
        padding: 0 0 0px 10px;
    }
    .bands-footer{
        padding:5px 0;
    }
    .schedule h1{
        font-size: 1.4rem;
    }
    .schedule h2{
        font-size: 1rem;
    }
    .schedule table tr td{
        font-size: 0.7rem;
    }
    .schedule table tr th{
        font-size: 0.1rem;
    }
    .sp{
        width: 0%;
    }
}

@media (max-height: 680px) {
    .bands h2{
        font-size: 1.2rem;
        margin:10px 0 0 0;
    }
}

@media (max-height: 570px) {
    .sp-top{
        margin: 100px 0 0 0;
    }

    .bands h1{
        font-size: 1.5rem;
    }

    .bands h2{
        margin:20px 0 0 0;
    }
    .bands p{
        font-size: 0.7rem;
    }

    #multiscroll-nav span{
        margin: 130px 0 0 15px;
    }

    .bands-footer{
        padding:5px 0;
    }
    
}

@media (max-height: 450px) {
    .logo{
        width: 250px;
        height: 250px;
    }
    
    .schedule img{
        width: 250px;
        height: 250px;
    }
    .about img{
        width: 250px;
        height: 250px;
    }
}

@media (max-height: 400px) {
    .bands h2{
        font-size: 1rem;
        padding: 0 0 0 0;
    }
    .bands p{
        font-size: 0.7rem;
    }

    .bands-footer{
        padding:5px 0;
    }
}
